*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
 }
 


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #C4C4C4;
}

.container{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    min-width: 300px;
    margin-top: 1%;
}

#icon{
    height: 6%;    
    margin-left: 2%;
}



.block1{
    width: 7%;
    height: 6%;
    margin-left: 2%;

    background: #897C80;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;

    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
    text-align: center;}



.block2{
    width: 7%;
    height: 6%;
    margin-left: 2%;

    background: #897C80;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;

    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
    text-align: center;
}

.rightmenu{
    height: 6%;
    margin-left: 50%;

    font-family: Montserrat;
    font-style: normal;
    font-size: 18px;
}



.flex{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;

    vertical-align: top;
}

.flex1,
.flex2,
.flex3,
.flex4,
.flex5,
.flex6{
    min-width: 200px;
    width: 15%;
    margin-top: 5%;
}


.up{
    background: #897C80;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 15px 15px 0px 0px;
    width: 100%;

    font-family: Montserrat;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
}

.close,
.add{
    width:10%;
}

.add{
    margin-left: 1%;
    margin-top: 2%;
}

.close{
    margin-left: 52%;
}


#blockadd{
    width: 70.31px;
    height: 69.3px;
    margin-top: 20%;
    margin-left: 30%;
}


.one_down{
    width: 100%;
    min-width: 200px;
    height: 40.59px;
    background: #BA8F95;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 0px 0px 15px 15px;
}

.two_down{
    min-width: 200px;
    width: 100%;
    height: 134.65px;
    background: #BA8F95;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 0px 0px 15px 15px;
}

.three_down{
    width: 100%;
    min-width: 200px;
    height: 228.71px;
    background: #BA8F95;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 0px 0px 15px 15px;
}

p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    box-sizing: border-box;
}

.rec1{
    width: 90%;
    height: 85%;
    margin-top: 1%;
    margin-left: 5%;
    background: #DDDFE1;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.rec21{
    width: 90%;
    height: 24%;
    margin-top: 1%;
    margin-left: 5%;
    background: #DDDFE1;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.rec22{
    width: 90%;
    height: 71%;
    margin-top: 1%;
    margin-left: 5%;
    background: #DDDFE1;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.rec31{
    width: 90%;
    height: 14%;
    margin-top: 1%;
    margin-left: 5%;
    background: #DDDFE1;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.rec32{
    width: 90%;
    height: 41%;
    margin-top: 1%;
    margin-left: 5%;
    background: #DDDFE1;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.rec33{
    width: 90%;
    height: 41%;
    margin-top: 1%;
    margin-left: 5%;
    background: #DDDFE1;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}
